<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>鑫顺褔仓管系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row layui-col-space10">
	<div class="layui-col-md9 layui-col-xs12">
		<div class="layui-row layui-col-space10">
{#			<div class="layui-col-md9 layui-col-xs7">#}
                <div class="layui-form-item magt3">
					<label class="layui-form-label">布样ID</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input layui-disabled ID" lay-verify="ID" placeholder="ID自动生成，不用填写">
					</div>
                </div>
				<div class="layui-form-item magt3">
					<label class="layui-form-label">布样编码</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input newsCode" lay-verify="newsCode" placeholder="请输入布样编码">
					</div>
				</div>
                <div class="layui-form-item magt3">
					<label class="layui-form-label">布样名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input newsName" lay-verify="newsName" placeholder="请输入布样名称">
					</div>
				</div>
{#			</div>#}
		</div>
        <blockquote class="layui-elem-quote title"><i class="layui-icon">&#xe609;</i> 发布</blockquote>
        <div class="border">
            <div class="layui-form-item magt2">
                <label class="layui-form-label"><i class="seraph icon-xiugai"></i>库 存</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input CLOTH_REMAIN" required lay-verify="CLOTH_REMAIN" placeholder="请输入库存数量（米）">
                </div>
            </div>
            <div class="layui-form-item magt2">
                <label class="layui-form-label"><i class="seraph icon-xiugai"></i>加 工</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input CLOTH_DEAL_REMAIN" required lay-verify="CLOTH_DEAL_REMAIN" placeholder="请输入出厂加工数量(米)">
                </div>
            </div>
            <div class="layui-form-item newsTop">
                <label class="layui-form-label"><i class="seraph icon-zhiding"></i> 置 顶</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="newsTop" lay-skin="switch" lay-text="是|否">
                </div>
            </div>
            <hr class="layui-bg-gray" />
            <div class="layui-right">
                <a class="layui-btn layui-btn-sm" lay-filter="addNews" lay-submit><i class="layui-icon">&#xe609;</i>发布</a>
                <a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="look" lay-submit>预览</a>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/news/whiteNewsAdd.js"></script>
</body>
</html>